<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycampus.rontikeky.myacademic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.splash_screen"
            android:label="BLuCampus"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.transition"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegisterUser"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ResetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChooseRegister"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegisterGuest"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainFeed"
            android:label="@string/title_activity_main_feed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.EditProfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SuccessRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SeminarDetial"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.WorkshopDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.InfoDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegisteredEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChooseFaculty"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.FullScreenImageActivity" />
        <activity android:name=".Activity.AboutActivity" />
        <activity
            android:name=".Activity.MainFeedDrawer"
            android:label="@string/title_activity_main_feed_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ContactActivity" />

        <service android:name=".Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Activity.StreamRadioActivity"></activity>
    </application>

</manifest>